<div class="others">
    <div class="others-header">
        <h1>About us</h1>
    </div>
    <div class="others-main">
        <div class="about-content">
            <h2>Our team:</h2>
            <p>We are professionally experienced and well-educated accountants and lawyers. We provide highest-quality services to our customers and always opened to your adjustments.</p>
            <h2>How we work:</h2>
            <p>We are constantly self-improving, educating and learning on our mistakes. Due to our rich experience in what we do you may be confident about the quality of services you receive.</p>
            <h2>Privacy policy:</h2>
            <p>We use sophisticated data encryption to communicate, all our servers are located in safe zones and are accessed via secured connection. We developed and implemented highest standards of data protection to ensure safety of our customers. </p>
            <h2>Pricing policy:</h2>
            <p>When you get our services you understand that we apply market-based polices when setting a price. We offer most competitive and cost-efficient services with respect to price/quality relation. When you are served by Aviantex Group - you receive best you can get.</p>
            <h2>Quality guarantee:</h2>
            <p>We provide a personal warranty for the services we provide. In case of failure due to negligence or delay we provide full refund. Our team uses loyal, friendly-based approach to every customer, so that each time you assign your problems to us, you remain completely satisfied.</p>
        </div>
        <a href="#/"><button type="button" class="find-more">Find out More</button></a>
    </div>
</div>