<div class="others">
    <div class="others-header">
        <h1>Legal consultancy</h1>
    </div>
    <div class="others-main">
        <div class="consultancy-content">
            <h2>Professional tax planning, legal advice and expertise</h2>
            <p>Law is our passion! Our lawyers possess rich experience in most fields of international business law:</p>
            <ul>
                <li>Corporate law</li>
                <li>Tax law</li>
                <li>Dispute resolution: litigation and commercial arbitration</li>
                <li>Markets and financial markets law</li>
                <li>ICSID: investments disputes</li>
                <li>Contract law</li>
                <li>Stock exchange markets</li>
            </ul>
            <p>We provide professional legal advisory services and legal expertise. We guarantee full compliance with your national legislation and quality of our services.</p>
        </div>
        <a href="#/"><button type="button" class="find-more">Get your quotation</button></a>
    </div>
</div>