<div class="others">
    <div class="others-header">
        <h1>Contact us</h1>
    </div>
    <div class="others-main">
        <div class="contacts-content">
            <h2>Main office:</h2>
            <p>New Horizon Building,3 ½, Miles Philip S.W., Goldstone Highway, Belize city, Belize</p>
            <h2>Call us:</h2>
            <p>Tel.: +44 20 328 781 56</p>
            <h2>E-mail: </h2>
            <p>info@aviantex.ltd</p>
        </div>
        <a href="#/"><button type="button" class="find-more">Get your quotation</button></a>
    </div>
</div>