<div class="others">
    <div class="others-header">
        <h1>Company formation</h1>
    </div>
    <div class="others-main">
        <div class="consultancy-content">
            <h2>Precisely adjusted to your needs</h2>
            <p>We have experience in making business in many jurisdictions of EU, offshore and mid-shore jurisdictions, as well as Asian states, UAE and others. We are ready to help you to realize your business model and tax solution. </p>
            <p>We do not offer companies on a large scale. You may be sure that your request will be duly processed.</p>
            <p>You pay for a result - 100% guarantee of success. In case of failure due to our negligence we guarantee full refund.</p>
            <p>In addition to the company formation, we are ready to provide assistance in:  </p>
            <ul>
                <li>tax planning</li>
                <li>corporate structuring</li>
                <li>profit/revenue  analysis</li>
                <li>bank account opening</li>
                <li>risks diversification</li>
                <li>state intervention risks assessment</li>
                <li>compliance assessment and improvement</li>
                <li>market surveys and market impact assessment on your business</li>
            </ul>
        </div>
        <a href="#/"><button type="button" class="find-more">Get your quotation</button></a>
    </div>
</div>