<div class="others">
    <div class="others-header">
        <h1>Fiduciary services</h1>
    </div>
    <div class="others-main">
        <div class="consultancy-content">
            <h2 class="services-heading">Your true companion</h2>
            <p>We provide following trustees and related services:</p>
            <ul>
                <li>Corporate partners;</li>
                <li>Joint ventures;</li>
                <li>Directors and officers;</li>
                <li>Stockholders;</li>
                <li>Board of directors;</li>
                <li>Senior employees;</li>
                <li>Guardian (protector) (a position at foundations);</li>
            </ul>
            <p>Sometimes people misinterpret the notion of fiduciary in business affairs, interpreting this person as nominee shareholder or director and therefore understand fiduciary services as  nominee services. However this is not quite right. </p>
            <p>Fiduciary relationships in business affairs are relationships based on trust to the fiduciary. Our team consist of professional counsels and we personally guarantee loyalty to our clients and absolute diligence. </p>
            <p>We observe conservative moral codex and believe in long-term relationships with our customers and their families. If you have any questions, please don't hesitate to contact us.</p>
        </div>
        <a href="#/"><button type="button" class="find-more">Get your quotation</button></a>
    </div>
</div>